/* Global Styling */

*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Nav Styling */

.nav a{
  color: rgb(230, 6, 6);
  text-decoration: none;
}

.nav{
   display: flex;
   justify-content: center;
   gap: 5rem;
   background-color: bisque;
   padding: 2rem;
}

/* Home Page */

.homePage{
  background-color: #d2b898;
  height: 1000px;
}

.homePage h1{
  padding-bottom: 30px;
}

.homePage p{
  padding: 10px;
  font-size: large;
}

#pictures{
  width: 612px;
  height: 612px;
}

.pictures{
  margin: auto;
}

/* About Page */

.About{
  background-color: antiquewhite;
  height: 1000px;
}

#explanation{
  padding-top: 40px;
}

/* Project Page */

.project{
  background-color: blanchedalmond;
  height: 1000px;
}

#projectExplained{
  padding-top: 40px;
}

#cityInput{
  margin-top: 40px;
}